<!DOCTYPE html>
<html>
    <head>
        <title>Libkeeper</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/vendor/normalize.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
    <% { %>
        <% let toolbtns_icon_path = '/img/icons/toolbuttons/' %>
        <% let categorybtns_icon_path = '/img/icons/categories/' %>
        <% if (error !== null && error.length > 0) { %>
        <div class="errors-list">
            <% for (let i = 0; i < error.length; i++) { %>
                <% let div_id = `error-message-${i}` %>
            <div id="<%= div_id %>" class="error-message" style="visibility: visible;">
                <button class="error-message-hide-btn" onclick="hideErrorBlock('<%= div_id %>')">x</button>
                <div><%= error[i] %></div>
            </div>
            <% } %>
        </div>
        <% } %>
        <div class="categories-part">
            <div class="categories-toolbar">
                <button class="toolbtn tooltip" onclick="toggleCategoryCreationPromptDisplay()">
                    <span class="tooltiptext">Add category</span>
                    <img src="<%= toolbtns_icon_path + 'add-folder.png'%>" class="toolicon" alt="Add Folder" />
                </button>
                <% { %>
                    <% let need_to_disable = false %>
                    <% if (current_category === null || current_category.immutable == 1) { %>
                        <% need_to_disable = true %>
                    <% } %>
                <button class="toolbtn tooltip"<% if (need_to_disable) { %> disabled<% } else { %> onclick="deleteCategory('<%= current_category.id %>', '<%= current_category.immutable %>')"<% } %>>
                    <span class="tooltiptext">Delete category</span>
                    <img src="<%= toolbtns_icon_path + 'del-folder.png'%>" class="toolicon" alt="Delete Folder" />
                </button>
                <% } %>
            </div>

            <div id="category-creation-prompt" class="category-creation-prompt" style="visibility: hidden;">
                <div>
                    <input type="text" id="category-name-textfield" placeholder="Enter a category name...">
                    <button onclick="toggleCaregoryIconsListPromptDisplay()">Icon</button>
                    <button onclick="createCategory()">Create</button>
                </div>
                <div id="category-icons-list-prompt" class="category-icons-list-prompt" style="visibility: hidden;">
                    <% if (icons_list !== null) { %>
                        <% let is_checked = true %>
                        <% for(let i = 0; i < icons_list.length; i++) { %>
                            <% if (is_checked && i != 0) { %>
                                <% is_checked = false %>
                            <% } %>
                    <label>
                        <input type="radio" name="category-icon-buttons" value="<%= icons_list[i].id %>"<% if (is_checked) { %> checked="checked"<% } %>>
                        <div class="category-icon-button">
                            <img src="<%= `${categorybtns_icon_path}${icons_list[i].path}` %>" class="category-button-icon">
                        </div>
                    </label>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <div class="categories-list">
                <% { %>
                    <% let trashedCategoryID = -1 %>
                <button id="category-all" class="category-button category-button-regular tooltip" onclick="filterByCategory(-1)">
                    <span class="tooltiptext">All</span>
                    <img src="<%= `${categorybtns_icon_path}/all.png` %>" class="category-button-icon" alt="All" />
                </button>
                    <% if (categories_list !== null) { %>
                        <% for(let i = 0; i < categories_list.length; i++) { %>
                            <% if (categories_list[i].name != 'Trashed') { %>
                    <button id="category-<%= categories_list[i].id %>" class="category-button category-button-regular tooltip" onclick="filterByCategory('<%= categories_list[i].id %>')">
                        <span class="tooltiptext"><%= categories_list[i].name %></span>
                        <img src="<%= `${categorybtns_icon_path}${categories_list[i].icon}` %>" class="category-button-icon" alt="<%= categories_list[i].name %>" >
                    </button>
                            <% } else { %>
                                <% trashedCategoryID = categories_list[i].id %>
                            <% } %>
                        <% } %>
                    <% } %>
                <button id="category-<%= trashedCategoryID %>" class="category-button category-button-regular tooltip" onclick="filterByCategory('<%= trashedCategoryID %>')">
                    <span class="tooltiptext">Trashed</span>
                    <img src="<%= `${categorybtns_icon_path}/trashed.png` %>" class="category-button-icon" alt="Trashed" />
                </button>
                <% } %>
            </div>
        </div>

        <div class="notes-part">
            <div class="notes-toolbar">
                <button class="toolbtn tooltip" onclick="openNewCanvas()">
                    <span class="tooltiptext">New Note</span>
                    <img src="<%= toolbtns_icon_path + 'new-note.png'%>" class="toolicon" alt="New Note" />
                </button>
                <% { %>
                    <% let need_to_disable = false %>
                    <% if (current_note === null) { %>
                        <% need_to_disable = true %>
                    <% } %>
                <button class="toolbtn tooltip"<% if (need_to_disable) { %> disabled<% } else { %> onclick="deleteNote('<%= current_note.categories %>')"<% } %>>
                    <span class="tooltiptext">Delete Note</span>
                    <img src="<%= toolbtns_icon_path + 'del-note.png'%>" class="toolicon" alt="Delete Note" />
                </button>
                <% } %>
            </div>

            <div class="notes-list">
                <% if (notes_list !== null) { %>
                    <% for(let i = 0; i < notes_list.length; i++) { %>
                        <% let link = '/note' %>
                        <% if (current_category !== null) { %>
                            <% link += '?category=' + encodeURIComponent(current_category.id) + '&' %>
                        <% } else { %>
                            <% link += '?' %>
                        <% } %>
                        <% link += "id=" + notes_list[i].id %>
                <a href=<%= link %> class="note-link">
                    <div id="note_<%= notes_list[i].id %>" class="note-announce note-announce-regular">
                        <% if (notes_list[i].title == "") { %>
                        <h3>...</h3>
                        <% } else { %>
                        <h3><%= notes_list[i].title %></h3>
                        <% } %>
                        <p><%= notes_list[i].c_date %></p>
                    </div>
                </a>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="canvas-part">
            <div class="canvas-toolbar">
                <button class="toolbtn tooltip" onclick="handleTheNote(document.getElementById('full_text').value)">
                    <span class="tooltiptext">Save Note</span>
                    <img src="<%= toolbtns_icon_path + 'save-note.png'%>" class="toolicon" alt="Save Note" /></button>
                <button class="toolbtn tooltip" onclick="toggleVersionsListDisplay()">
                    <span class="tooltiptext">History</span>
                    <img src="<%= toolbtns_icon_path + 'note-history.png'%>" class="toolicon" alt="History" />
                </button>
                <button class="toolbtn tooltip" disabled>
                    <span class="tooltiptext">Undo</span>
                    <img src="<%= toolbtns_icon_path + 'undo.png'%>" class="toolicon" alt="Undo" />
                </button>
                <button class="toolbtn tooltip" disabled>
                    <span class="tooltiptext">Redo</span>
                    <img src="<%= toolbtns_icon_path + 'redo.png'%>" class="toolicon" alt="Redo" />
                </button>
                <button class="toolbtn tooltip" disabled>
                    <span class="tooltiptext">Styles</span>
                    <img src="<%= toolbtns_icon_path + 'styles.png'%>" class="toolicon" alt="Styles" />
                </button>
                <button class="toolbtn tooltip" onclick="toggleCategoriesListDisplay()">
                    <span class="tooltiptext">Categories</span>
                    <img src="<%= toolbtns_icon_path + 'select-folder.png'%>" class="toolicon" alt="Categories" />
                </button>
            </div>

            <div id="versions-list" class="versions-list" style="visibility: hidden;">
                <% { %>
                    <% let text = '' %>
                    <% if(note_versions !== null) { %>
                        <% for(let i = 0; i < note_versions.length; i++) { %>
                            <% text = note_versions[i].full_text.substring(0, 42) %>
                            <% let note_id = note_versions[i].note_id %>
                            <% let version_id = note_versions[i].id %>
                <a href="/note?id=<%= note_id %>&version_id=<%= version_id %>" class="version-link">
                    <div id="version_<%= version_id %>" class="version-announce version-announce-regular">
                        <h5 class="version-title"><%= text %></p>
                        <p class="version-date"><%= note_versions[i].c_date %></p>
                    </div>
                </a>
                        <% } %>
                    <% } else { %>
                <div class="empty-versions-list-tip">no versions for this note</div>
                    <% } %>
                <% } %>
            </div>

            <div id="note-categories-list" class="note-categories-list" style="visibility: hidden;">
                <% { %>
                    <% if (categories_list !== null && categories_list.length > 2) { %>
                <ul>
                        <% for (let i = 0; i < categories_list.length; i++) { %>
                            <% if (categories_list[i].name != 'Uncategorised' && categories_list[i].name != 'Trashed') { %>
                                <% let checked = false %>
                                <% if (current_note !== null) { %>
                                    <% if (current_note.categories.includes(categories_list[i].name, 0)) { %>
                                        <% checked = true %>
                                    <% } %>
                                <% } %>
                    <li>
                        <input type="checkbox" <% if (checked) {%>checked<% } %>>
                        <label><%= categories_list[i].name %></label>
                    </li>
                            <% } %>
                        <% } %>
                </ul>
                    <% } else { %>
                        <div class="empty-categories-list-tip">no custom categories</div>
                    <% } %>
                <% } %>
            </div>

            <div class="canvas-entry">
                <% { %>
                    <% let text = '' %>
                    <% if(current_version !== null) { %>
                        <% text = current_version.full_text %>
                    <% } %>
                <textarea id="full_text" class="note-full-text" placeholder="Enter the text..."><%= text %></textarea>
                <% } %>
            </div>
        </div>

        <script type="text/javascript" src="/js/scripts.js"></script>
        <script type="text/javascript">highlintCategory()</script>
        <script type="text/javascript">highlintNote()</script>
        <script type="text/javascript">highlintVersion()</script>
    <% } %>
    </body>
</html>
